@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --very-dark-gray-blue-text: hsl(237, 12%, 33%);
  --dark-grayishblue: hsl(240, 6%, 50%);
}
html {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
}
body {
  height: 53rem;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

#container {
  height: 40rem;
  max-width: 75rem;
  margin: auto;
  padding: auto;
  background-color: white;
  margin-top: 8rem;
  border-radius: 2rem;
  background-image: url(./images/bg-pattern-desktop.svg),
    url(./images/illustration-woman-online-desktop.svg);

  background-position: left -550px top -300px, left -80px top 50px;
  background-repeat: no-repeat;
  @media screen and (max-width: 767px) {
    background-image: url(./images/bg-pattern-mobile.svg),
      url(./images/illustration-woman-online-mobile.svg);
    background-position: left 0px top 0px, left 0px top 0px;
    background-size: 10px 10px, 10px 10px;
  }
  display: flex;
  justify-content: flex-end;
}
#illustration-box {
  position: relative;
  top: 200px;
  left: -400px;
  height: 150px;
}
#faq-container {
  width: 35rem;
  height: 40rem;
  background-color: white;
  border-radius: 2rem;
  /* align-self: center; */
  /* justify-self: flex-end; */
}
#header {
  margin-top: 5rem;
  padding-left: 1rem;
}
.questions {
  /* display: flex;
  justify-content: space-between; */
  padding: 1rem;
  max-width: 25rem;
}
.down-arrow {
  width: 10px;
  height: 5px;
  align-self: baseline;
}
.question {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: inline-block;
  cursor: pointer;
}
.answers {
  padding-top: 1rem;
  display: none;
}
#q1:hover #answer1 {
  display: block;
}
.question:hover {
  color: orange;
}
.line {
  border: 0.5px solid var(--dark-grayishblue);
  width: 22rem;
  margin: 1rem;
}
.attribution {
  margin-top: 2rem;
  color: white;
}
