@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --very-dark-gray-blue-text: hsl(237, 12%, 33%);
  --dark-grayishblue: hsl(240, 6%, 50%);
}
html {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
body {
  height: 57rem;
  /* @media screen and (max-width: 767px) {
    background-image: url(./images/bg-pattern-mobile.svg),
      url(./images/illustration-woman-online-mobile.svg);
  } */
}

#container {
  height: auto;
  max-width: 80%;
  margin: auto;
  padding: auto;
  background-color: white;
  margin-top: 8rem;
  border-radius: 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: flex-end; */
}
#woman-image-container {
  position: relative;
}
#women-image {
  /* background-image: url(./images/illustration-woman-online-desktop.svg);
  background-position: left -80px top 50px; */
  position: absolute;
  top: 0px;
}
/* for mobile */
@media (max-width: 768px) {
  #container {
    align-content: center;
    margin-top: 10rem;
  }
  #women-image-container {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #women-image {
    display: none;
  }
  #women-image-mobile {
    display: block;
    margin-top: -108px;
    margin-left: auto;
    margin-right: auto;
  }
  #background-mobile {
    display: block;
    margin-left: 80px;
    margin-right: auto;
    margin-top: -90px;
  }
  #faq-container {
    margin-left: auto;
    margin-right: auto;
    grid-column: 1 / span 2;
    justify-content: center;
  }
  #illustration-box {
    display: none;
  }
  #header {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: -1rem;
    /* padding-left: 1rem; */
  }
}
/* for desktop */
@media (min-width: 769px) {
  #women-image-mobile {
    display: none;
  }
  #women-image-container {
    background-image: url(./images/illustration-woman-online-desktop.svg);
    background-repeat: no-repeat;
    background-position: left -80px top 50px;
  }
  #illustration-box {
    display: block;
    position: relative;
    top: 200px;
    left: -77px;
    height: 150px;
  }
  #container {
    background-image: url(./images/bg-pattern-desktop.svg);

    background-position: left -550px top -300px;
    background-repeat: no-repeat;
  }
  #header {
    margin-top: 5rem;
    padding-left: 1rem;
  }
  #background-mobile {
    display: none;
  }
}

#faq-container {
  max-width: auto;
  height: 40rem;
  background-color: white;
  border-radius: 2rem;
  /* align-self: center; */
  /* justify-self: flex-end; */
}

.questions {
  /* display: flex;
  justify-content: space-between; */
  padding: 1rem;
  max-width: 25rem;
}
.down-arrow {
  width: 10px;
  height: 5px;
  align-self: baseline;
}
.question {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: inline-block;
  cursor: pointer;
}
.answers {
  padding-top: 1rem;
  display: none;
}
#q1:hover #answer1 {
  display: block;
}
.question:hover {
  color: orange;
}
.line {
  border: 0.5px solid var(--dark-grayishblue);
  width: 22rem;
  margin: 1rem;
}
.attribution {
  margin-top: 2rem;
  color: white;
}
